<header class="page-header">
  <a href="/"
    ><img src="./images/logo.png" alt="goit-logo" width="100" height="32"
  /></a>
  <form class="search-form" id="search-form">
    <input
      class="search-form-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit" class="search-btn">
      <svg class="search-icon" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</header>
<main>
  <div class="gallery"></div>
  <div class="js-guard"></div>
  <button type="button" class="load-more">
    <span class="label">Load more</span>
  </button>
</main>
